<!-- Esta plantilla hereda de base/base.html -->
{% extends 'home/home.html' %}

<!-- Anulamos de la home.html lo que no quiero-->


<!-- el Login no lo anulo-->
{% block login %} 
<div>
    <!-- Outer Row -->
       <h2>Welcome - Please Login</h2>
             <!-- Metemos el Metodo POST y el token de Django -->
            <form class="user" method="post">                                        
                    {% csrf_token %}
                    <div>
                        <input type="text" id="id_username" name="username" aria-describedby="Name" placeholder="Nane">
                    </div>
                    <div>
                       <input type="password" id="id_password" name="password" placeholder="Password">
                    </div>              
                    {#{ form.as_p }#}                      
                    <br>
                    <button type="submit">Log in</button> 
           </form>                         
</div>
{% endblock login %}