<!-- Hereda de esta plantilla home.html-->
{% extends 'home/home.html' %}

<!-- Visualizamos la pagina sin => Anulamos de la base-->

{% block content %}
<div>
    <h1>List of products</h1>        
</div>
<section>
    <div>
        <!-- Sino hay registros he de dar un mensaje.
        Preguntamos si está la variable con un If con el objeto: obj -->
      {% if not obj %}          
          <div>
              <br>
              <h3>There is no products</h3><br>
              <a href="{% url 'product_list' %}">Back</a> 
          </div>                  
      {% else %}
            <!-- Si hay registros, pintamos una tabla -->                                    
            <form method="GET">
                <!-- {{ filter.form.as_p }} -->
                <a>Filter for Name:</a>   {{ filter.form.name }}                
                <a>Filter for Status:</a> {{ filter.form.status }}
                <button type="submit">Filter</button>
            </form>                
            <br>
            <table border="2">
                <thread>
                    <!-- Los encabezados -->
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Nutritional Values</th>
                    <th>Status</th>
                    <th>Actions</th>                                                                           
                  </thread>
                  <tbody>
                      {% for item in obj %}                      
                      <tr>
                          <td>{{ item.id }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.description }}</td>                        
                          <td>
                            {% for i in item.nutritional_values.all %}
                                <li>{{ i.name }} - {{ i.unit }}</li>
                            {% endfor %}
                          </td>       
                          <td>{{ item.status|yesno:"Active,Inactive" }}</td>                               
                          <td>                          
                            <a href="{% url 'product_update' item.id %}" role="button"><i >Update</i></a>
                            <a href="{% url 'product_delete' item.id %}" role="button"><i >Delete</i></a>                            
                          </td>     
                      </tr>                    
                      {% endfor %}
                    </tbody>
                  </table>                

          {% endif %}               

         </div>
</section>         
{% endblock %}


